<h1>Edit Mug Form</h1>
<%=form_for @mug do |f|%>
<%=f.label 'name'%>
<%=f.text_field 'name'%><br>

<%=f.label 'thickness'%>
<%=f.number_field 'thickness'%><br>

<%=f.collection_select(:owner_id, Owner.all, :id, :full_name)%>

<%=f.submit "save"%>
<%end%>
